[user]
	name = y-megane
	email = y.megane88@gmail.com
[core]
	filemode = false
	autocrlf = false

[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[fetch]
	prune = true
[push]
	default = current
[alias]
	a = add
	b = branch
	c = commit
	ch = checkout
	f = fetch
	ps = push
	pl = pull
	s = status -sb
	sw = switch
	g = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
[ghq]
	root = ~/go/src
	root = ~/ghq

