[user]
	name = Shinya Yajima
	email = y.megane88@gmail.com
[core]
	filemode = false
	autocrlf = false
  pager = delta
[interactive]
  diffFilter = delta --color-only
[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto
[fetch]
	prune = true
[push]
	default = current
[alias]
	a = add
	b = branch
	c = commit
	f = fetch
	co = checkout
	ps = push
	pl = pull
	s = status -sb
	sw = switch
	g = log --pretty='format:%C(yellow)%h %C(green)%cd %C(reset)%s %C(red)%d %C(cyan)[%an]' --date=format:'%Y/%m/%d %H:%M:%S' --all --graph
	logp = log --pretty='format:%C(yellow)%h %C(green)%cd %C(reset)%s %C(red)%d %C(cyan)[%an]' --date=iso
[ghq]
	root = ~/go/src

